mixin footer()
    footer.footer
            .content
                .footer__header 
            .footer__content
                .content
                    .footer__getStarted
                        .getStarted
                            .getStarted__content.getStarted__content_hidden
                                h5.getStarted__titleMini Get Started Within Minutes
                                h4.getStarted__title Are You Ready to Protect Your Business?
                                p.getStarted__text Sign up for our account packages and start generating legal agreements suited to your business needs.
                                .getStarted__btnBox
                                    .btn.getStarted__btn
                                        p.log Get started for free
                                    .btn.btn_white
                                        p.reg Learn more <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.41031 0.705385C2.02073 0.315812 1.38911 0.315811 0.999537 0.705384C0.610265 1.09466 0.60992 1.72569 0.998768 2.11538L4.36653 5.49049C4.64748 5.77207 4.64748 6.22793 4.36652 6.50951L0.998767 9.88462C0.609919 10.2743 0.610263 10.9053 0.999535 11.2946C1.38911 11.6842 2.02073 11.6842 2.4103 11.2946L7.03825 6.66667C7.40644 6.29848 7.40644 5.70152 7.03825 5.33333L2.41031 0.705385Z" fill="#32D989"/></svg>
                            .mob
                                .getStarted__content
                                    h5.getStarted__titleMini Latest blog articles
                                    h4.getStarted__title Ready to protect your business?
                                    p.getStarted__text More than 140,000 businesses use iTerms. Join our community of amazing companies!
                                    .getStarted__btnBox
                                        .btn.getStarted__btn
                                            p.log Sign me Up!
                                        .btn.btn_white
                                            p.reg Learn more <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.41031 0.705385C2.02073 0.315812 1.38911 0.315811 0.999537 0.705384C0.610265 1.09466 0.60992 1.72569 0.998768 2.11538L4.36653 5.49049C4.64748 5.77207 4.64748 6.22793 4.36652 6.50951L0.998767 9.88462C0.609919 10.2743 0.610263 10.9053 0.999535 11.2946C1.38911 11.6842 2.02073 11.6842 2.4103 11.2946L7.03825 6.66667C7.40644 6.29848 7.40644 5.70152 7.03825 5.33333L2.41031 0.705385Z" fill="#32D989"/></svg>

                    .footer__grid
                        .row.row-cols-auto 
                            .col-6.col-lg-5
                                .footer__logo
                                    .logo.logo_white 
                                        p.logo__text.footer__logo-text iTerms
                                p.footer__text More than 140,000 businesses use iTerms. Join our community.
                                ul.footer__list.mob
                                    li.footer__list-item How It Works
                                    li.footer__list-item Reviews
                                    li.footer__list-item Contact us
                                    li.footer__list-item Blog
                            .col-6.col-lg-2
                                h5.footer__title Company
                                ul.footer__list
                                    li.footer__list-item How It Works
                                    li.footer__list-item Reviews
                                    li.footer__list-item Contact us
                                    li.footer__list-item Blog
                            .col-6.col-lg-2
                                h5.footer__title Products
                                ul.footer__list
                                    li.footer__list-item Solutions
                                    li.footer__list-item Trust & Safety
                                    li.footer__list-item Payment
                                    li.footer__list-item Help
                            .col-6.col-lg-3
                                h5.footer__title Support
                                ul.footer__list
                                    li.footer__list-item Help
                                    li.footer__list-item Pricing
                                    li.footer__list-item Payment
                                    li.footer__list-item Help
                    hr.hr
                    .footer__rights
                        .row
                            .col-12
                                .footer__rights-item © 2021 Terms Inc. All rights reserved
                            .col-7.footer_display-none
                                ul.footer__rights-list
                                    li.footer__rights-list-item Terms & Conditions
                                    li.footer__rights-list-item  Privacy Policy
                                    li.footer__rights-list-item  Disclaimer
                                    li.footer__rights-list-item  English version