section.credibility
    .credibility__bg
        .content
            .credibility__content
                h4.credibility__title-min.title-min Validate Our Credibility
                h1.credibility__title.title Compare Industry Competitors
                p.credibility__text.text iTerms offers industry-leading solutions for businesses for a fraction of the price, with no hidden fees.
                h4.credibility__title-min.title-min.mob make sure
                h1.credibility__title.title.mob Compare with competitors
                p.credibility__text.text.mob Create a free terms and conditions agreement (aka terms of use or terms of service) for your website or app.
                .credibility__box-price
                    p.credibility__currency $
                    p.credibility__cent 95
                    span.credibility__price 6
                    img(src="../images/TextHighlighter.svg", alt="TextHighlighter").credibility__highlighter
                h5.credibility__title-unlim Unlimited access
                h6.credibility__title-doc for any documents
                .advantages
            .advantages__content
                        .advantages__item
                            img(src="../images/GDPR.svg", alt="img")
                            .advantages__name GDPR, CCPA, CalOPPA
                        .advantages__item
                            img(src="../images/Embed.svg", alt="img")
                            .advantages__name Easy Embed on Your Site
                        .advantages__item
                            img(src="../images/Hosted.svg", alt="img")
                            .advantages__name Securely Hosting Policies
                        .advantages__item
                            img(src="../images/Updated.svg", alt="img")
                            .advantages__name Frequent Updates
                        .advantages__item
                            img(src="../images/Payment.svg", alt="img")
                            .advantages__name Industry-leadingpricing
                        .advantages__item
                            img(src="../images/Compatible.svg", alt="img")
                            .advantages__name US/EU Law Compatible
                        .advantages__item
                            img(src="../images/HTML.svg", alt="img")
                            .advantages__name HTML/Word Formats
                        .advantages__item
                            img(src="../images/Unlimited downloads.svg", alt="img")
                            .advantages__name Unlimited Downloads
