section.howIsWorks
    .howIsWorks__bg
        .content
            .howIsWorks__content
                .howIsWorks__video-box
                    .howIsWorks__video-preview
                        .howIsWorks__video-preview-controls
                            <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8066 7.71089L0.662061 14.7226L0.662062 0.699212L12.8066 7.71089Z" fill="white"/></svg>
                    video(controls src='#').howIsWorks__video
                .howIsWorks__box-content
                    h4.howIsWorks__title.title-min Easy & Cost-Effective
                    h1.howIsWorks__title.title How it works?
                    p.howIsWorks__text.text Numerous legal agreements accessible at the touch of your fingerprints for your website or mobile app.
                    .howIsWorks__steps
                        .howIsWorks__step
                            p.howIsWorks__step-num 1
                            p.howIsWorks__step-text Choose Your Desired Policy 
                        .howIsWorks__step
                            p.howIsWorks__step-num 2
                            p.howIsWorks__step-text Collaborate withour AI Assistant
                        .howIsWorks__step
                            p.howIsWorks__step-num 3
                            p.howIsWorks__step-text Collect Your Legal Document
    hr.hr-blue.howIsWorks__hr