.mobileMenu.js-mobileMenu
    .mobileMenu__content
        .content
            .mobileMenu__wrapper
                .mobileMenu__header
                    .mobileMenu__logo
                        .logo
                            p.logo__text iTerms
                    .mobileMenu__exit
                .mobileMenu__flex-box
                    ul.mobileMenu__list
                        li.mobileMenu__item.js-dropDown Generate <img class='img-inline' src='../img/iconMob.svg', alt="arrow">
                            ul.mobileMenu__dropDown-menu.js-dropDown-menu
                                li.btn_white.mobileMenu__dropDown-item Privacy Policy
                                li.btn_white.mobileMenu__dropDown-item Terms & Conditions
                                li.btn_white.mobileMenu__dropDown-item Cookie Policy
                                li.btn_white.mobileMenu__dropDown-item Eula
                                li.btn_white.mobileMenu__dropDown-item Disclaimer
                                li.btn_white.mobileMenu__dropDown-item Refund Policy
                                li.btn_white.mobileMenu__dropDown-item Refund Policy
                                li.btn_white.mobileMenu__dropDown-item Refund Policy
                                li.btn_white.mobileMenu__dropDown-item Refund Policy
                                li.btn_white.mobileMenu__dropDown-item Refund Policy
                                li.btn_white.mobileMenu__dropDown-item Refund Policy
                        li.mobileMenu__item Contact us
                        li.mobileMenu__item  Pricing
                        li.mobileMenu__item  Blog
                        li.mobileMenu__item.js-dropDown  Account <img class='img-inline' src='../img/iconMob.svg', alt="arrow">
                            ul.mobileMenu__dropDown-menu.js-dropDown-menu
                                li.btn_white.mobileMenu__dropDown-item Documents
                                li.btn_white.mobileMenu__dropDown-item Subscriptions
                                li.btn_white.mobileMenu__dropDown-item Settings
                    .mobileMenu__select
                        .select.js-dropDown
                            .select__selected.js-active-select-box
                                p.js-active-select En 
                                img(src='../img/icon.svg', alt="arrow")
                            ul.select__list.select__list_rel.js-dropDown-menu
                                li.select__item.js-select-item En
                                li.select__item.js-select-item Ru
                .mobileMenu__iconclose-box
                    img(src='../img/iconclose.svg', alt="close").mobileMenu__iconclose.js-btn-mobile-menu