section.possibilities
    .possibilities__bg
        .content
            .possibilities__content
                .possibilities__box-content
                    h4.possibilities__title.title-min Discover Possibilities
                    h1.possibilities__title.title Streamline Your Purpose with AI
                    p.possibilities__text.text Streamline cost-effective solutions for your business. Generate legally compliant documents seamlessly with customizable agreements and policies for your website or mobile app anytime, anywhere with iTerms.
                    ul.possibilities__list
                        li.possibilities__list-item Unlimited downloads for 9.95 a one-time fee  
                        li.possibilities__list-item All legal agreements confirmed by a practicing lawyer
                        li.possibilities__list-item EU/US and main privacy laws covered
                        li.possibilities__list-item Automatic legal updates powered by AI
                        li.possibilities__list-item Industry-leading competitive pricing 
                        li.possibilities__list-item Securely host your policies on our platform
                        li.possibilities__list-item Easy embed policy on your domain
                        li.possibilities__list-item Suitable for most Web/Mobile apps
                    .possibilities__btn-box
                        .btn
                            p.log Generate for free
                        .btn.btn_white
                            p.reg Learn more <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.41031 0.705385C2.02073 0.315812 1.38911 0.315811 0.999537 0.705384C0.610265 1.09466 0.60992 1.72569 0.998768 2.11538L4.36653 5.49049C4.64748 5.77207 4.64748 6.22793 4.36652 6.50951L0.998767 9.88462C0.609919 10.2743 0.610263 10.9053 0.999535 11.2946C1.38911 11.6842 2.02073 11.6842 2.4103 11.2946L7.03825 6.66667C7.40644 6.29848 7.40644 5.70152 7.03825 5.33333L2.41031 0.705385Z" fill="#32D989"/></svg>