section.preview
        .preview__bg.preview__bg-mob.mob
        .preview__bg.preview__bg_desc
            .content
                .preview__content
                    .preview__box-content
                        h4.preview__title-min.title-min Powered By AI
                        h1.preview__title.title The smartest, fastest way to Legal Aggrements
                        p.preview__text Generate your <strong>Privacy Policy, Terms of Use</strong>or <b>Cookie Policy</b> for <em class='preview__text_green'>free</em>
                        .preview__box-btn
                            .btn.preview__btn
                                p.log Generate for free
                            .btn.preview__btn-mob
                                p.log Generate
                            .btn.btn_white
                                a(href="second.html").reg Learn more <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.41031 0.705385C2.02073 0.315812 1.38911 0.315811 0.999537 0.705384C0.610265 1.09466 0.60992 1.72569 0.998768 2.11538L4.36653 5.49049C4.64748 5.77207 4.64748 6.22793 4.36652 6.50951L0.998767 9.88462C0.609919 10.2743 0.610263 10.9053 0.999535 11.2946C1.38911 11.6842 2.02073 11.6842 2.4103 11.2946L7.03825 6.66667C7.40644 6.29848 7.40644 5.70152 7.03825 5.33333L2.41031 0.705385Z" fill="#32D989"/></svg>