mixin provisions(head)
    section.provisions
        .provisions__bg
            .content
                if(head) 
                    .provisions__top
                else  
                    .provisions__top.provisions__top-none
                .provisions__content
                    h4.provisions__title-min.title-min Trusted Provisions
                    h1.provisions__title.title Secure Legal Safeguards
                    p.provisions__text.text Attorney-certified compliance solutions for your convenience and protection.
                    h4.provisions__title-min.title-min.mob Can Trust
                    h1.provisions__title.title.mob Legal Protection You
                    p.provisions__text.text.mob Create a free terms and conditions agreement (aka terms of use or terms of service) for your website or app
                    .provisions__safes
                        .provisions__safe.provisions__safe_one
                            img(src="../images/TermsConditions.svg", alt="Policies Created").provisions__safe-img
                            p.provisions__safe-text 100,000+
                            p.provisions__safe-name Policies Created
                        .provisions__safe.provisions__safe_two
                            img(src="../images/Businesses.svg", alt="Businesses").provisions__safe-img
                            p.provisions__safe-text 140,000+
                            p.provisions__safe-name Businesses
                        .provisions__safe.provisions__safe_three
                            img(src="../images/CompliantPageviews.svg", alt="Compliant Pageviews").provisions__safe-img
                            p.provisions__safe-text 60 Million+
                            p.provisions__safe-name Compliant Pageviews