section.questions
    .content
        .questions__content
            .questions__header
                h4.questions__title.title-min Solutions to Your Problems
                h1.questions__title.title Do You Have any Questions?
                p.questions__text.text Take a look through our answers! Still, have questions? Please don't be afraid to contact our team at any time.
            .questions__header.mob
                h4.questions__title.title-min Latest blog articles
                h1.questions__title.title Questions? Look here
                p.questions__text.text More than 140,000 businesses use iTerms. Join our community of amazing companies!
            .questions__faq
                .faq
                    .faq__content
                        .faq__titles
                            h5.faq__title Table of Contents
                            .select.js-dropDown.mob
                                .select__selected.js-active-select-box
                                    p.js-active-select General 
                                    img(src='../img/icon.svg', alt="arrow")
                                ul.select__list.select__list_rel.js-dropDown-menu
                                    li.select__item.js-select-item General
                                    li.select__item.js-select-item Payment
                                    li.select__item.js-select-item Trust & Safety
                                    li.select__item.js-select-item Help
                                    li.select__item.js-select-item Contacts
                            ul.faq__list
                                li.faq__list-item General
                                li.faq__list-item Trust & Safety
                                li.faq__list-item Payment
                                li.faq__list-item Help
                                li.faq__list-item Contacts
                        ul.faq__questions
                            li.faq__question.js-dropDown
                                p.faq__question-name What is a Privacy Policy?
                                span.faq__question-response.js-dropDown-menu
                                    |Thereare two main reasons why you need a Privacy Policy:
                                    <br><br>
                                    <b class='faq__question-response_highlight'>They're legally required</b>
                                    <br><br>
                                    |If you collect or use personal information, you'll have to comply with privacy laws put in place around the world to protect consumer privacy. These laws will apply regardless of where your business itself is located, as they work to protect consumers in specific regions. For example, if your business is located in the U.S. but you have users in the EU, the EU's GDPR will still apply to you.
                                    <br><br>
                                    <b class='faq__question-response_highlight'>Consumers expect to see them</b>
                                    <br><br>
                                    |In a world where consumer privacy is more important than ever and consumers are starting to take their privacy more seriously, not having a Privacy Policy can mean you may lose customers. People expect to see a Privacy Policy that they can easily access whenever they want. Not having one will make you seem untrustworthy.
                            li.faq__question.js-dropDown
                                p.faq__question-name What is Personal Information?
                                span.faq__question-response.js-dropDown-menu
                                    |Thereare two main reasons why you need a Privacy Policy:
                                    <br><br>
                                    <b class='faq__question-response_highlight'>They're legally required</b>
                                    <br><br>
                                    |If you collect or use personal information, you'll have to comply with privacy laws put in place around the world to protect consumer privacy. These laws will apply regardless of where your business itself is located, as they work to protect consumers in specific regions. For example, if your business is located in the U.S. but you have users in the EU, the EU's GDPR will still apply to you.
                                    <br><br>
                                    <b class='faq__question-response_highlight'>Consumers expect to see them</b>
                                    <br><br>
                                    |In a world where consumer privacy is more important than ever and consumers are starting to take their privacy more seriously, not having a Privacy Policy can mean you may lose customers. People expect to see a Privacy Policy that they can easily access whenever they want. Not having one will make you seem untrustworthy.
                            li.faq__question.js-dropDown
                                p.faq__question-name Why do I need a Privacy Policy?
                                span.faq__question-response.js-dropDown-menu
                                    |Thereare two main reasons why you need a Privacy Policy:
                                    <br><br>
                                    <b class='faq__question-response_highlight'>They're legally required</b>
                                    <br><br>
                                    |If you collect or use personal information, you'll have to comply with privacy laws put in place around the world to protect consumer privacy. These laws will apply regardless of where your business itself is located, as they work to protect consumers in specific regions. For example, if your business is located in the U.S. but you have users in the EU, the EU's GDPR will still apply to you.
                                    <br><br>
                                    <b class='faq__question-response_highlight'>Consumers expect to see them</b>
                                    <br><br>
                                    |In a world where consumer privacy is more important than ever and consumers are starting to take their privacy more seriously, not having a Privacy Policy can mean you may lose customers. People expect to see a Privacy Policy that they can easily access whenever they want. Not having one will make you seem untrustworthy.
                            li.faq__question.js-dropDown
                                p.faq__question-name Can I request an email address without a Privacy Policy?
                                span.faq__question-response.js-dropDown-menu
                                    |Thereare two main reasons why you need a Privacy Policy:
                                    <br><br>
                                    <b class='faq__question-response_highlight'>They're legally required</b>
                                    <br><br>
                                    |If you collect or use personal information, you'll have to comply with privacy laws put in place around the world to protect consumer privacy. These laws will apply regardless of where your business itself is located, as they work to protect consumers in specific regions. For example, if your business is located in the U.S. but you have users in the EU, the EU's GDPR will still apply to you.
                                    <br><br>
                                    <b class='faq__question-response_highlight'>Consumers expect to see them</b>
                                    <br><br>
                                    |In a world where consumer privacy is more important than ever and consumers are starting to take their privacy more seriously, not having a Privacy Policy can mean you may lose customers. People expect to see a Privacy Policy that they can easily access whenever they want. Not having one will make you seem untrustworthy.
                            li.faq__question.js-dropDown
                                p.faq__question-name How should I write my Privacy Policy?
                                span.faq__question-response.js-dropDown-menu
                                    |Thereare two main reasons why you need a Privacy Policy:
                                    <br><br>
                                    <b class='faq__question-response_highlight'>They're legally required</b>
                                    <br><br>
                                    |If you collect or use personal information, you'll have to comply with privacy laws put in place around the world to protect consumer privacy. These laws will apply regardless of where your business itself is located, as they work to protect consumers in specific regions. For example, if your business is located in the U.S. but you have users in the EU, the EU's GDPR will still apply to you.
                                    <br><br>
                                    <b class='faq__question-response_highlight'>Consumers expect to see them</b>
                                    <br><br>
                                    |In a world where consumer privacy is more important than ever and consumers are starting to take their privacy more seriously, not having a Privacy Policy can mean you may lose customers. People expect to see a Privacy Policy that they can easily access whenever they want. Not having one will make you seem untrustworthy.
                            

