include ./cardSolutions.pug 


section.solutionsSwiper
    .solutionsSwiper__content
        .swiperTwo-container
            .swiper-wrapper
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
                .swiper-slide
                    +card('../images/PrivacyPolicy.svg','Privacy Policy','Legal document disclosing partial or all ways an entity gathers, uses, discloses, and manages client personal data. ')
        .solutionsSwiper__stand
            .arrow-swiper
                img(src="../img/navArrow.svg", alt="arrow").arrow-swiper-prev#solution__nav-next
                img(src="../img/navArrow.svg", alt="arrow").arrow-swiper-next#solution__nav-prev
