
mixin solutions(titleMin, title, text)
    section.solutions
        .solutions__bg
            .content
                .solutions__content
                    .solutions__title-box
                        h4.solutions__title.title-min= titleMin
                        h1.solutions__title.title= title  
                    p.solutions__text.text= text
                    .solutions__title-box_mob
                        h4.solutions__title.title-min for your business
                        h1.solutions__title.title Explore of our Solutions
                    p.solutions__text_mob.text Create a free terms and conditions agreement (aka terms of use or terms of service) for your website or app.