.btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 16px 40px 12px;
    background: $blue;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color $time;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $blue2;
    }

    &_white {
        padding: 16px 16px 12px;
        background: none;
        color: $black;

        &:hover {
            background-color: $blue3
        }
    }
    &__img{
        margin-right: 5px;
    }
}