.getStarted {
    padding-bottom: 60px;
    width: 100%;
    background: white;
    box-shadow: 0px 38px 30px rgba(109, 93, 202, .3), 0px 20.7957px 15.3272px rgba(102, 86, 185, .177553), 0px 15.8955px 0px rgba(92, 76, 182, .0372931);
    border-radius: 0px 0px 8px 8px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_hidden{
            @include tablet {
                display: none;
            }
        }
        
    }

    &__titleMini {
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: $gray;
        @include tablet {
            font-size: 14px;
        }
    }

    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: $black;
        max-width: 580px;
        margin-bottom: 16px;
        @include tablet {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }

    &__text {
        font-family: Open Sans;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: $gray2 ;
        text-align: center;
        max-width: 410px;
        margin-bottom: 48px;
        @include tablet {
            margin-bottom: 30px;
        }
    }
    &__btnBox{
        display: flex;
    }
    &__btn{
        margin-right: 16px;
    }
}