.modal {
    display: none;
    max-width: 1110px;
    &__content {
        background-color: white;
        box-shadow: 0px 38px 56px rgba(191, 204, 225, .39), 0px 20.7957px 15.3272px rgba(191, 204, 225, .177553), 0px 15.8955px 0px rgba(191, 204, 225, .0372931);
        border-radius: 8px;
        display: flex !important;
        width: 100%;
    }
    &__img{
        width: 100%;
        background: $blue;
        border-radius: 0px 8px 8px 0px;
    }
    &-link {
        color: $blue;
        cursor: pointer;
        transition: opacity $time;
    
        &:hover {
            opacity: .7;
        }
    }
}