.solutionsSwiper {
    &__stand {
        max-width: 825px;
        width: 90%;
        height: 458px;
        margin: 0 auto;
        background: $white;
        box-shadow: 0px 38px 56px rgba(191, 204, 225, .39), 0px 20.7957px 15.3272px rgba(191, 204, 225, .177553), 0px 15.8955px 0px rgba(191, 204, 225, .0372931);
        border-radius: 8px;
        position: absolute;
        top: 124px;
        z-index: -1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 40px 60px;
        z-index: 0;
    }
    &__content{
        padding: 60px 0 166px;
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
}