
//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width : 1400px;
$mobile: 576px;

//Цвета
$blue: #8770FF;
$blue2:#6A61CC;
$blue3:rgba(135, 112, 255, .1);
$blue4:#AA9AFF;
$black: #1D212A;
$white:#F9FAFC;
$white2:#E7E9ED;
$gray:#B6BFD9;
$gray2:#565A65;
$gray3:#646464;
$gray4:#F1F3F6;
$gray5:#DCDCE6;
$gray6:#DADFEB;
$green: #32D989;
$green2:#00B67A;

//время transition
$time: .4s;